## 关于 CSV

csv = comma separated values

repersenting a csv as a list of rows

### Option 1: each row is a list

### option 2: each row is a dictionary

一般tool包 都会处理的啦

In [2]:
import unicodecsv

enrollments_filename = 'datasets/enrollments.csv'

enrollments = []
f = open(enrollments_filename, 'rb')
reader = unicodecsv.DictReader(f)
for row in reader:
    enrollments.append(row)
f.close()

In [4]:
enrollments[0]

{u'account_key': u'448',
 u'cancel_date': u'2015-01-14',
 u'days_to_cancel': u'65',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-10',
 u'status': u'canceled'}

In [6]:
# 简便的
with open(enrollments_filename, 'rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader)

enrollments[1]

{u'account_key': u'448',
 u'cancel_date': u'2014-11-10',
 u'days_to_cancel': u'5',
 u'is_canceled': u'True',
 u'is_udacity': u'True',
 u'join_date': u'2014-11-05',
 u'status': u'canceled'}

# Load csv data using Pandas

In [7]:
import pandas

enrollments_filename = 'datasets/enrollments.csv'
data = pandas.read_csv(enrollments_filename)

In [8]:
print(data.shape)

(1640, 7)

In [9]:
data.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65,True,True
1,448,canceled,2014-11-05,2014-11-10,5,True,True
2,448,canceled,2015-01-27,2015-01-27,0,True,True
3,448,canceled,2014-11-10,2014-11-10,0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [10]:
data.tail(4)

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
1636,1110,current,2015-08-13,NaN,NaN,False,False
1637,1116,canceled,2015-08-15,2015-08-18,3,False,True
1638,874,current,2015-08-22,NaN,NaN,False,False
1639,686,current,2015-08-23,NaN,NaN,False,False

In [1]:
pwd

u'C:\\Users\\yaolong\\work\\Udacity-Data-Science'

In [2]:
ls

 驱动器 C 中的卷是 系统
 卷的序列号是 0CF5-4053

 C:\Users\yaolong\work\Udacity-Data-Science 的目录

2016/04/30  10:30    <DIR>          .
2016/04/30  10:30    <DIR>          ..
2016/04/29  17:20    <DIR>          .ipynb_checkpoints
2016/04/30  10:30             9,373 1-CSVs-in-Python.ipynb
2016/04/29  16:56    <DIR>          datasets
               1 个文件          9,373 字节
               4 个目录 35,326,222,336 可用字节

In [3]:
cd datasets

C:\Users\yaolong\work\Udacity-Data-Science\datasets

In [4]:
pwd

u'C:\\Users\\yaolong\\work\\Udacity-Data-Science\\datasets'

In [5]:
ls

 驱动器 C 中的卷是 系统
 卷的序列号是 0CF5-4053

 C:\Users\yaolong\work\Udacity-Data-Science\datasets 的目录

2016/04/29  16:56    <DIR>          .
2016/04/29  16:56    <DIR>          ..
2016/04/29  16:54         4,550,108 daily_engagement.csv
2016/04/29  16:53            72,536 enrollments.csv
2016/04/29  16:54           204,145 project_submissions.csv
2016/04/29  16:55             4,963 table_descriptions.txt
               4 个文件      4,831,752 字节
               2 个目录 35,326,210,048 可用字节

In [6]:
# using pandas to read engagement file
import pandas

engagement_filename = 'daily_engagement.csv'
data = pandas.read_csv(engagement_filename)

print(data.shape)

(136240, 6)

In [7]:
data.head(3)

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1,11.679374,0,0
1,0,2015-01-10,2,37.284887,0,0
2,0,2015-01-11,2,53.633746,0,0

In [8]:
data.tail(3)

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
136237,1305,2015-06-16,1,2.720136,0,0
136238,1305,2015-06-17,0,0.000000,0,0
136239,1305,2015-06-18,0,0.000000,0,0

In [9]:
# using pandas
import pandas

submission_filename = 'project_submissions.csv'
data = pandas.read_csv(submission_filename)

print(data.shape)

(3642, 6)

In [10]:
data.head(4)

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED

In [13]:
type(data)

pandas.core.frame.DataFrame

In [14]:
# hotw to read the 1st row of data?
data.head(1)

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED

# Question Phase

本课的关注的一个焦点是

How do students who pass their projects differ from those who dont?

这个比较有意思啊

通过数据来分析，然后也可以给自己一个warning or guide